---
layout: default
---

{{ content }}
<ul class="myposts">
{% for post in site.posts %}
  {% if post.lang == "en" %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
  {% endif %}
{% endfor %}
</ul>
