---
layout: default
---


{{ content }}
<ul class="myposts">
  {% for post in site.posts %}
  {% if post.lang == "de" %}
  <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate"></span>
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "der %-d." }}
      {% case m %}
      {% when '1' %}Januar
      {% when '2' %}Februar
      {% when '3' %}März
      {% when '4' %}April
      {% when '5' %}Mai
      {% when '6' %}Juni
      {% when '7' %}Juli
      {% when '8' %}August
      {% when '9' %}September
      {% when '10' %}Oktober
      {% when '11' %}November
      {% when '12' %}Dezember
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </span>
  </li>
  {% endif %}
  {% endfor %}
</ul>
