---
layout: default
permalink: /:categories/
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if page.lang == "de" %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "der %-d." }}
        {% case m %}
        {% when '1' %}Januar
        {% when '2' %}Februar
        {% when '3' %}März
        {% when '4' %}April
        {% when '5' %}Mai
        {% when '6' %}Juni
        {% when '7' %}Juli
        {% when '8' %}August
        {% when '9' %}September
        {% when '10' %}Oktober
        {% when '11' %}November
        {% when '12' %}Dezember
        {% endcase %}
        {{ page.date | date: "%Y" }}
      </time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
          itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    {% else %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span
        itemprop="author" itemscope itemtype="http://schema.org/Person"><span
          itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
